<h1>Articles#index</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
      <%# The 'link_to' helper knows how to extract the path from the article element %>
    </li>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path%>
<%# The new_article_path comes from the default route new_article and the _path helper %>

